* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    min-width: 1301px;
    height: 100vh;
    scrollbar-width: auto
}
.navbar {
    height: 3.75rem;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo img{
    width: 10rem;
}


.border {
    border: 1.5px solid transparent;
}

.border :hover {
    border: 1.5px solid white;
}


/* **------- Box 2****** */
.add-first {
    color: #cccccc;
    font-size: 1rem;
}


.Deliever {
    color: #cccccc;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 14px;
}

.India {
    color: #ffffff;
    font-size: 0.75;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px, 0px, 1px;
    margin-left: 2px;
    font-weight: 750;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* ****** box 3 */

.nav-search {
    display: flex;
    background-color: pink;
    width: 450px;
    border-radius: 4px;
    justify-content: space-evenly;
    height: 40px;
    margin-left: 10px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}


/* ******* box 4 */
span {
    font-size: 0.75rem;
    font-weight: 400;
}

.account {
    font-size: 0.85rem;
    font-weight: 700;
}

.cart i {
    font-size: 35px;
}

.cart {
    font-size: 1rem;
    font-weight: 700;
}

.panel {
    height: 39px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 13px;
}

.panel-ops {
    width: 70%;
    font-size: 0.8rem;
}

.panel2 {
    font-weight: 500;
}

.panel-all i {
    margin-left: 0;
    padding: 0px, 0px, 0px, 0px;

}

.hero-section {
    width: 100%;
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("hero_image.jpg")
}

.hero-message {
    background-color: #ffffff;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}


.link {
    color: #007185;
}

/* ***** shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.Box {
    /* border: 2px solid black; */
    height: 310px;
    width: 24%;
    background-color: #ffffff;
    padding: 20px 0px 15px;
    margin-top: 15px;
    flex: 1;
}

.box-img {
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Box-content {
    height: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Box-content p {
    color: #007185;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
}

/* footer content  */
footer{
    min-width: 1305px;
    height: 400px;
    text-align: center;
}
footer .second{
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(4,1fr);
    color: white;
    padding: 50px 0px 10px 0;
    background-color: #232F3E;
}
footer .footer-box{
    height: 300px;
}
footer .footer-box h3{
    color: white;
    padding: 20px;
    text-decoration:double;
}
footer p{
    padding: 03px;
    color: rgb(204, 193, 193);
}
#copywrite{
    color: white;
    padding: 1%;
    background-color: black;
}
footer .first{
    color: white;
    padding: 1%;
    background-color: #949494;
}
